.footer {
  margin: 0;
  padding: 55px 150px 20px;
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: space-between;
}

.footer__container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__container:nth-child(2n) {
  margin: 0 67px 0 0;
}

.footer__container:last-of-type {
  align-items: flex-end;
}

.footer__title {
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #656566;
}

.footer__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.footer__link {
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #e4e5ea;
  text-align: right;
}

.footer__link-visible {
  display: none;
}

.footer__navigation {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 52px;
}

.footer__text {
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #e4e5ea;
}

.footer__social {
  margin: 11px 0 9px;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 14px;
  justify-content: flex-end;
  list-style: none;
}

.footer__info {
  margin: 50px 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer__info-text {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  color: #e4e5ea;
}

a.footer__info-text {
  text-decoration-line: underline;
}

@media screen and (max-width: 1280px) {
  .footer {
    padding: 55px 100px 20px;
  }
}

@media screen and (max-width: 1180px) {
  .footer__title {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__link {
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 1100px) {
  .footer {
    padding: 55px 50px 20px;
  }

  .footer__container:nth-child(2n) {
    margin: 0 30px 0 0;
  }

  .footer__navigation {
    gap: 44px;
  }
}

@media screen and (max-width: 730px) {
  .footer {
    padding: 35px 15px 60px;
  }

  .footer__container:nth-child(2n) {
    margin: 0;
  }
}

@media screen and (max-width: 590px) {
  .footer {
    padding: 35px 15px 60px;
    gap: 30px;
    flex-direction: column;
  }

  .footer__container:last-of-type {
    align-items: flex-start;
  }

  .footer__list {
    gap: 8px;
    align-items: flex-start;
  }

  .footer__link-visible {
    display: block;
  }

  .footer__link-invisible {
    display: none;
  }

  .footer__social {
    margin: 0;
  }

  .footer__social-icon-telegram {
    display: block;
    width: 24px;
    height: 24px;
  }

  .footer__social-icon-viber,
  .footer__social-icon-whatsapp {
    display: block;
    width: 20px;
    height: 24px;
  }

  .footer__info {
    margin: 30px 0 0;
    align-items: flex-start;
  }
}
