#root {
  background-color: #0e1014;
  min-height: 100vh;
}

.app {
  min-width: 320px;
  max-width: 1440px;
  margin: auto;
  background: no-repeat url("../../images/purple-light.svg"),
    no-repeat url("../../images/red-light.svg");
  font-family: "Inter", Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.button {
  border: 0;
  transition: opacity 0.3s linear;
  text-decoration: none;
}

.button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.logo {
  width: 140px;
  height: 24px;
  background-image: url(../../images/logo.svg);
}

.link {
  transition: opacity 0.3s linear;
  text-decoration: none;
}

.link:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media screen and (max-width: 890px) {
  .logo {
    display: none;
  }
}

@media screen and (max-width: 730px) {
  .app {
    background: #0e1014;
  }
}

@media screen and (max-width: 590px) {
  .social-icon-telegram {
    display: block;
    width: 24px;
    height: 24px;
  }

  .social-icon-viber,
  .social-icon-whatsapp {
    display: block;
    width: 20px;
    height: 24px;
  }
}
